<h1>House: <%= @house.name %> (<%= link_to "Edit House", edit_house_path(@house) %>)</h1>
<h2>Words: <%= @house.words %> | Seat: <%= @house.seat %> | Region: <%= @house.region %> | <%= link_to "Add House Member", new_house_character_path(@house) %></h2>
<% @house.characters.each do |character| %>
  <div class="character">
    <h2><%= character.name %></h2>
    <%= image_tag character.image %>
    <br>
    <br>
  </div>
<% end %>
