<div class="houseHeader">
  <h2><span>House: </span><%= @house.name %> <span class="smaller">(<%= link_to "Edit House", edit_house_path(@house) %>)</span></h2>
  <h2><span>Words: </span><%= @house.words %>	&ensp; 	&ensp;|	&ensp; 	&ensp;<span>Seat: </span><%= @house.seat %>	&ensp; 	&ensp;|	&ensp; 	&ensp;<span>Region: </span><%= @house.region %>	&ensp; 	&ensp;|	&ensp; 	&ensp;<%= link_to "Add House Member", new_house_character_path(@house) %></h2>
</div>
<% @house.characters.each do |character| %>
  <div class="character">
    <h2><span><%= character.name %></span></h2>
    <h3><%= character.age %> Years Old</h3>
    <%= image_tag character.image %>
    <br>
    <h4><%= link_to "Edit Character", edit_house_character_path(@house, character) %></h4>
  </div>
<% end %>
