<%= form_for [@house, @character] do |f| %>
  <p><%= f.label :name %>
  <%= f.text_area :name %></p>

  <p><%= f.label :age %>
  <%= f.text_area :age %></p>

  <p><%= f.label :image_url %>
  <%= f.text_area :image %></p>

  <%= f.submit %>
<% end %>

	<%= link_to "Delete", house_character_path(@house, @character), method: :delete %>
