<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1><span>The Game Of Thrones</span></h1>
      <h2><%= link_to "Houses", houses_path %> | <%= link_to "Add A New House", new_house_path %></h2>
    </nav>

    <%= yield %>
  </body>
</html>
